footer {
  top: 1994px;
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 154px;
  height: 224px;

  background: #0053cb;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.nav-profile {
  width: 300px;
  height: 88px;
  position: relative;
  display: flex;
  text-align: end;
  top: 24px;
}
nav {
  /* width: 1440px; */
  height: 90px;
}
/* Muhammad E. */
.nav-name {
  /* position: relative; */
  width: 200px;
  height: 40px;
  /* left: 44px; */
  top: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #25282b;
  display: flex;
  text-align: center;
  margin: 0px 8px;
}
.nav-name ::after{
  content: "8668";
  color: blue; 
}
.nav-img {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left:97px;
}
.nav-profile button{
  position: absolute;
  width: 37px;
  /* width: 50px; */
  left: 223px;
  height: 20px;
  text-align: center;
  font-size: x-small;
  justify-content: center;
  top: 9px;
}
section {
  position: relative;
  top: 173px;
  margin: auto;
  
}
.breadcrumb2 {
  /* width:1132px; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  list-style: none;
  /* height: 727px; */
  /* margin-bottom: 24px; */
}
.breadcrumb2 a{
  text-decoration: none;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  
  
}

.breadcrumb {
  height: 500px;
  top: 200px;
  position: absolute;
  height: 40px;
  left: 154px;
}
/* 01. Introduction to Artificial Intelligent (AI) */
section h2 {
  position: relative;
  width: 719px;
  height: 40px;
  left: 30px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.2px;

  /* Light / Black */
  color: #373f41;
}
video{
  position: relative;
  top:56px;
  left: 30px;
  margin: auto;

}
.attach{
  /* width: 79%; */
  left: 30px;
  height: 164px;
  margin: auto;
  position:relative;
  top:280px;
}
.attach h4{
  /* Attachments */

position: static;
/* width: 110px; */
height: 24px;
left: 0px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #373F41;

margin: 12px 0px;

}
.attach a{

/* Lecture_1_Introduction_to_AI.PDF */

position: static;
width: 293px;
height: 24px;
left: 32px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.2px;
color: #0053CB;


}
.prof {
  top: 300px;
  position: relative;
  left: 30px;
}
.cont span {
  /* Assignment (Not submitted) */

  position: static;
  width: 233px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #373f41;
}
.Assignment {
  height: 120px;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  /* or 127% */
  letter-spacing: 0.2px;
}
.active,
span {
  color: #0053cb;
}
.btn-outline-primary {
  color: #0053cb;
  border-color: #0053cb;
}
.description {
  width: 500px;
  height: 72px;
  left: 0px;
  top: 144px;
  letter-spacing: 0.2px;
  margin: 32px 0px;
}

.Read-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  position: static;
  width: 199px;
  height: 48px;
  left: 0px;
  top: calc(50% - 16px / 2);
  border: 2px solid #0053cb;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 32px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #0053cb;
}

.Perfect-community {
  position: static;
  height: 32px;
  left: 69.5px;
  right: 69.5px;
  top: 240px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.1px;

  color: #beab9d;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}
.Organized-content {
  position: static;
  height: 32px;
  left: 71px;
  right: 71px;
  top: 248px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.1px;

  color: #d7d55e;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
.studentPerformance {
  position: static;
  height: 32px;
  left: 55px;
  right: 55px;
  top: 248px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.1px;

  color: #38d8d6;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
/* .cont {
  height: 416px;
  top: 240px;
  position: relative;
} */
.icon {
  text-align: center;
}
.content {
  left: 24px;
  right: 24px;
  top: 8px;
  bottom: 56px;
  position: relative;
  font-family: Montserrat;

  text-align: center;
  letter-spacing: 0.4px;

  color: #555555;
}
.center {
  position: relative;
  top: 139px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */
  letter-spacing: 0.2px;

  color: #111111;
}
.center p {
  position: relative;
  width: 550px;
  height: 48px;
  left: 0px;
  top: 30px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.2px;
  color: #555555;
}
.center button {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12px;

  position: static;
  width: 211px;
  height: 48px;
  border-radius: 8px;
  top: calc(50% - 16px / 2);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.platform {
  top: 280px;
  position: relative;
}
.get {
  width: 427px;
  top: 30px;
  position: relative;
}
footer {
  top: 322px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 154px;
  height: 224px;

  background: #0053cb;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}
