/*  *******************************************************        -->
<!-- Author  : Eman Mohamed Gomaa                                  -->
<!-- Date    : 27 march 2021                                       -->
<!-- Version : V 1.0                                               -->
<!-- File    : INDEX_HTML                                          -->
<!-- LOG     : 16/5/2022 responsive                                -->
<!--  ********************************************************     --> */
footer {
  top: 711px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 154px;
  height: 224px;

  background: #0053cb;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.nav-profile {
  width: 300px;
  height: 88px;
  position: relative;
  display: flex;
  text-align: end;
  top: 24px;
}
nav {
  /* width: 1440px; */
  height: 90px;
}
/* Muhammad E. */
.nav-name {
  /* position: relative; */
  width: 200px;
  height: 40px;
  /* left: 44px; */
  top: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #25282b;
  display: flex;
  text-align: center;
  margin: 0px 8px;
}
.nav-name ::after{
  content: "8668";
  color: blue; 
}
.nav-img {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left:97px;
}
.nav-profile button{
  position: absolute;
  width: 37px;
  /* width: 50px; */
  left: 223px;
  height: 20px;
  text-align: center;
  font-size: x-small;
  justify-content: center;
  top: 9px;
}
section {
  position: relative;
  top: 173px;
  margin: auto;
  
}
.breadcrumb {
  width:1132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 727px;
  /* margin-bottom: 24px; */
}
.content-course {
  /* width:1132px; */
  height: 727px;
  top: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.course-Details {
  width: 336px;
  height: 655px;
  /* text-align: center; */
  justify-content: center;
 border:1px solid rgb(201, 203, 204);
 border-radius: 5px;
 
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin-right: 24px;
 /* margin: auto; */
 
 
}
.course-img img{
  width: 95%;
}
.course-img img:hover{
  opacity: 0.8;
}
.course-img {
  width: 292px;
  height: 287px;
  top: 32px;
  margin: auto;
  align-items: center;
  /* margin-bottom: 32px; */
  position: relative;
}
.Details {
  display: flex;
flex-direction: column;
align-items: flex-start;
justify-self: start;
padding: 0px;
margin: auto;
width: 292px;
/* height: 208px; */
left: 0px;

/* margin: auto; */
  top: 27.5px;
  position: relative;
  /* left: 32px; */
}
.Details h4 {


/* Artificial Intelligence */

position: static;
width: 292px;
height: 64px;
left: 0px;
top: 0px;
/* -ms-flex-item-align:start ; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* or 133% */
letter-spacing: 0.2px;

color: #0053CB;



}
.Details p {
 
position: relative;
width: 292px;
left: 0px;
top: -50px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.002em;

color: #374047;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 16px 0px;
}
.Details h6 {
  /* Amr Zamil • 40h • 10 Quizzes */
  position: static;
width: 180px;
height: 16px;
left: 0px;
top: 80px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.2px;

color: #374047;

}
.Details button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  margin: auto;
  width: 292px;
  height: 48px;
  position: relative;
  top: 135px;
  
  border: 2px solid #0053cb;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #0053cb;
  background-color: #ffffff;
  order: 0;
  flex-grow: 0;
}
h1 {
  /* CSE, 4th year courses */
  position: relative;
  width: 365px;
  height: 40px;
  /* left: 154px; */
  top: 43px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #373f41;
  /* margin-bottom: 80px; */
}
.bread{
  position: relative;
  top:120px;
}
.description{
  /* based on your recent performance in quizzes, assignments — We highly recommend reviewing the materials below. */

position: relative;
width: 1129px;
height: 64px;
left: 0px;
top: 52px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
/* or 133% */

color: #828282;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;

}
.Details_new{
  height: 202px;
}
.Details_new button{
  top:50px;
}
.course2-Details {
  width: 356px;
  height: 543px;
  /* text-align: center; */
  justify-content: center;
 border:1px solid rgb(201, 203, 204);
 border-radius: 5px;
 
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin-right: 24px;
 /* margin: auto; */
}
.Details_new h6{
  margin-top: 20px;
}

.nav-profile button{
  position: absolute;
  width: 37px;
  /* width: 50px; */
  left: 223px;
  height: 20px;
  text-align: center;
  font-size: x-small;
  justify-content: center;
  top: 9px;
}
.arrow{
  top: 45px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: end; */
    position: absolute;
    left: 94%;
    width: min-content;
    border: none;
    background-color: inherit;
}
.breadcrumb2 {
  /* width:1132px; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  list-style: none;
  /* height: 727px; */
  /* margin-bottom: 24px; */
}
.breadcrumb2 a{
  text-decoration: none;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  
  
}
.contentCourseAI {
  width:1132px; 
  height: 727px;
  top: 80px;
  position: relative;
  left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.courseDetailsAI {

display: flex;
flex-direction: column;
align-items: center;
/* padding: 32px; */
margin-right: 50px;
position: relative;
width: 420px;
height: 739px;
/* left: 154px; */
/* top: 277px; */

color: #FFFFFF;
background: #0053CB;
border-radius: 12px;
 
 
}
.courseDetailsAI2{
  
display: flex;
flex-direction: column;
width: 600px;
}
.courseImgAI {
position: relative;
width: 356px;
height: 351px;

margin: 40px auto;

}
.courseImgAI>img{
  background: url("imags/course0.jpg"), #929292;
  box-shadow: 0px 18px 50px rgba(162, 173, 192, 0.1);
  border-radius: 16px;
  
}
.courseImgAI img:hover{
  opacity: 0.8;
}
.AI-div{
 
position: relative;
width: 348px;
height: 51px;
/* left: 32px; */
top: -40px;
margin-top: 40px;

}
/* artificial intelligence */
.AI-div>h4{
  
position: relative;
width: 348px;
height: 29px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #FFFFFF;

}
.AI-div h6{
  

/* amr zamel */
position: relative;
    width: 180px;
    height: 16px;
    /* left: 0px; */
    top: 0;
    /* font-family: 'Montserrat'; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 12px; */
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: auto;
color: #FFFFFF;

}
.courseDetailsAI2>h4{
  
/* position: absolute; */
width: 96px;
height: 32px;
margin-bottom: 32px;
/* left: 642px; */
/* top: 277px; */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 26.5391px;
line-height: 32px;
/* identical to box height */

color: #0053CB;


}

.Details3 p{
 
/* Lörem ipsum askbränd tran fast plasiv SMM spening marknadsplatser robot retail dihet hören som content provider DALL·E, om podda om multi helix. Pongen heterosase logolog kaliga ansvarsfull app vånigt och orade spevengen epide. */

position: static;
width: 356px;
height: 120px;
left: 32px;
top: 587px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 40px 0px;


}


.media1{
  
  
  /* display: flex;
flex-direction: row; */
align-items: center;
padding: 16px;

/* position: absolute; */
width: 508px;
/* height: 96px; */
/* left: 673px; */
/* top: 711px; */
margin: 16px 0;
background: #FFFFFF;
border: 2px solid rgba(0, 83, 203, 0.1);
box-sizing: border-box;
border-radius: 12px;


}
.media_intro{

border-left:2px solid #0053cb;
padding-left: 34px;
color: #333333;

}
.intro_unit>img{
  background-color: #0053CB;
  border-radius: 100px/100px;
  left: -9px;
    position: relative;
}
.unit> h5{
  display: inline-block;
  margin-left:10px ;
}
.icon img{
  float: left;
  /* margin-top: 5px; */
  margin-right: 10px;
}
.icon h6{
  /* Assignments */

position: static;
/* width: 55px; */
height: 12px;
left: 0px;
top: 0px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */
letter-spacing: 0.1px;

color: #FFFFFF;
margin: 4px 0px;

}
.iconImg{
  margin-top: 8px;
}
.media1:hover{
  border-color: #0053cb;
  
}
.media1 img:hover{
  opacity: 0.8;
}
.media1:hover  svg {
  display: block;
  
}
.media1 svg{
  position: relative;
    top: -73px;
    margin: auto;
    display: flex;
    text-align: center;
    display: none;
    /* left: 54px; */
  
}
.unit>p{
  display: inline-block;
  width: 20px;
  left: -8px;
  height: 20px;
  background-color: #0053CB;
  border: 5px solid #0053CB;
  border-radius: 100%;
  position: relative;
  top: 20px;

}
.media_second_unit{
  
border-left:2px solid #A0A4A8;
padding-left: 34px;
color: #333333;

}
.icon2 h6{
  color: #333333;
  top: 3px;
  position: relative;
}
.titleCourse p{
  position: relative;
  top: -25px;
}
.icon2{
  position: relative;
  top:-20px;
}
.modal-content {
  width: 1132px;
  height: 1258px;
margin: auto;
}

.modal-header h5{
  /* 10 Questrions */

/* position: absolute; */
/* width: 117px; */
height: 14px;
left: 10px;
top: 70px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.175em;
text-transform: uppercase;

color: #1964D1;
}
.modal-header p{
  /* *Choose the correct answer for all questions */

position: absolute;
/* width: 364px; */
height: 24px;
left: 40px;
top: 93px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150% ;
/* identical to box height,24px or 150% */

/* Gray 3 */
color: #828282;


}
.modal-header h6{
color: red;
display: inline-block;
}
.modal-header{
height:155px;
padding: 40px;
}
.modal-body h5{
  /* 1. The video that introduced the idea of Hall of Fame and Hall of Shame interfaces included a few pieces of design wisdom. Which of the following are true? (Select all that apply) */

/* position: absolute; */
/* width: 938px; */
height: 48px;
/* left: 80px; */
/* top: 186px; */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* or 120% */

color: #333333;
}
.modal-footer{
  height: 200px;
}
.Submit-btn{
  /* Button */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 48px;
text-align: center;
position: absolute;
width: 316px;
height: 56px;
left: 230px;
/* top: 1044px; */

background: #FFFFFF;
border: 2px solid #0053CB;
box-sizing: border-box;
border-radius: 8px;

margin:auto;
/* Button */
/* 
position: static;
width: 56px;
height: 24px;
left: 130px;
top: 16px; */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */
text-align: center;

color: #0053CB;
}
.form-check:hover{
  color: #0053CB;
}
.form-check input[type='checkbox']:checked + label{
  color: #0053CB;
}

.contentCourse {
  width: 1132px;
  height: 1524px;
  top: 80px;
  position: relative;
}
.courseDetails {
  width: 1132px;
  height: 351px;
  margin-bottom: 32px;
}
.courseImg {
  width: 356px;
  height: 351px;
  margin-bottom: 32px;
  position: relative;
}
.Details2 {
  width: 744px;
  height: 256px;
  top: 47.5px;
  position: relative;
  left: 32px;
}
.Details2 h4 {
  /* Artificial Intelligence */

  position: static;
  width: 744px;
  height: 48px;
  left: 0px;
  top: 0px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  letter-spacing: 0.2px;

  color: #0053cb;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
.Details2 p {
  position: static;
  width: 744px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.002em;

  color: #374047;
  margin-top: 40px;
  margin-bottom: 40px;
}
.Details2 h6 {
  /* Amr Zamil • 40h • 10 Quizzes */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;

  color: #374047;
  margin: 8px 0px;
}
.Details2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  width: 260px;
  height: 48px;

  border: 2px solid #0053cb;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #0053cb;
  background-color: #ffffff;
  order: 0;
  flex-grow: 0;
}
.breadcrumb2+ h1 {
  /* CSE, 4th year courses */
  position: relative;
  width: 365px;
  height: 40px;
  /* left: 154px; */
  top: 43px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #373f41;
  margin-bottom: 80px;
}
.breadcrumb2 a {
  /* Home / Courses */
  text-decoration: none;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #555555;
}
