.joinBtn {
  width: 538px;
  position: relative;
  top: 32px;
  height: 56px;

  margin: auto;
  border-radius: 5px;
  color: #ffffff;

  background: #0058e6;
  box-shadow: 4px 4px 12px rgba(0, 83, 203, 0.25);
  border-radius: 6.53148px;

  margin: 8.16435px 0px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.log-btn {
  text-align: center;
  width: 200px;
  position: relative;
  margin-left: 280px;
}
.f-body {
  top: 32px;
  width: 604px;
  height: 983px;
  position: relative;
  color: #0053cb;
  font-family: Montserrat;
  font-style: normal;
}
.r-slide {
  background: #0053cb;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  letter-spacing: 0em;
}

.fo-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 314px;
  height: 88px;
  left: 139px;
  /* top: 888px; 80px  */

  margin: 80px 0px;
}
.fo-div p {
  position: static;
  width: 144px;
  height: 24px;
  left: 85px;
  top: 0px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
col-6 {
  height: 100%;
}
.fo-div button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9.79722px 16.3287px;

  position: relative;
  width: 314px;
  height: 48px;
  /* left: 0px; */
  top: 16px;
  letter-spacing: 1px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6.53148px;
  margin: auto;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 10px;
}

.carousel-inner {
  width: 100%;
  height: 80%;
  margin: 0;
}
.carousel-slide {
  width: 100%;
  height: 80%;
  top: 620px;
}

.carousel-item svg {
  display: block;
  width: 80%;
  /* height: 50%; */
  object-fit: cover;
  margin-left: 34px;
}

.carousel-item p {
  position: static;
  width: 468px;
  height: 90px;
  left: 0px;
  top: 622px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.02%;
  /* or 30px */
  text-align: center;
}
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  height: 16px;
  width: 16px;
  /* opacity: 0.19; */
  margin-inline: 16px;
}
.title-h3 {
  /* Create a new account */
  position: static;
  width: 203px;
  height: 29px;
  top: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
}
/* to start using SmartEDU */
.title-p {
  position: static;
  width: 196px;
  height: 22px;
  left: 0px;
  top: 33px;
  font-size: 16px;
  line-height: 140%;
  color: #7c8493;
}
hr {
  /* Line */

  position: static;
  width: 536px;
  height: 0px;
  left: 36px;
  top: 119px;

  /* Neutrals/20 */
  border: 1px solid #d6ddeb;
}
.form-1contain {
  position: relative;
  width: 540px;
  height: 576px;
  /* left: 32px;
  top: 32px; */
}
.form-1contain_div,
.form-2contain_div {
  width: 540px;
  height: 82px;
  margin-top: 24px;
}
/* Name */
.form-1contain_div label,
.form-2contain_div label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  color: #0053cb;
}
.form-control {
  border: 1px solid #e3f2fd;
}
.form-1contain_div input {
  width: 540px;
  height: 56px;
  border-radius: 4px;
  padding: 16px;
}
.form-2contain_div .btn {
  position: relative;
  width: 259.09px;
  height: 56px;
  left: 0px;
  top: 0px;
  padding-top: 13px;
  border: 1px solid #e3f2fd;
  box-sizing: border-box;
  border-radius: 4px;
  margin-inline: 12px;
  background: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #bbdefb;
}
.form-check {
  width: 338px;
  height: 24px;
  top: 24px;
  position: relative;
}
.form-check2 {
  width: 540px;
  height: 72px;
  margin-top: 32px;
}
.form-3contain_div {
  position: relative;
  left: 60.18px;
  top: 24px;
}
.form-3contain_div label {
  /* width: 137.52px;
  height: 22px; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #515b6f;
}

/* ########################### */
