{% extends 'base.html' %}
{% load static %}
{% block title %} Units {% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container mt-5 pt-3">
  <h1 class="py-3 mx-auto ms-3" style="color: #0053cb;" >{{ course.title }}</h1>
  <section>
    <div class="row">
      <div class="col-md-3 gx-5 mb-4">
        <div class="bg-light gy-5 text-center hover-overlay ripple shadow-2-strong rounded-5 ">
          
          <h4 class="border-scandary border-bottom py-4"><a href="{% url 'edit-course' course.id %}" class="text-decoration-none">Edit course</a></h4>
          <h4 class="border-scandary border-bottom py-4"><a href="{% url 'modules' course.id %}"class="text-decoration-none">units</a></h4>
          <h4 class="border-scandary border-bottom py-4"><a href="#sub"class="text-decoration-none">Submissions</a></h4>
          <h4 class="border-scandary border-bottom py-4"><a href="#leader"class="text-decoration-none">Leaderboard</a></h4>
          
        </div>
      </div>
      <div class="col-md-8 gx-5 mb-4">
        <section class="container ">
          <div class=" gx-5 unit">
            <div class="mx-auto d-flex flex-sm-wrap row gx-5 border-scandary  border-bottom mb-5">                
            <h2 class=" col-8 pb-3" style="color: #0053cb;">Units:   </h2>
            {% if profile.user_type == 'teacher'%}
            <a href="{% url 'new-module' course.id %}" class="col-1 btn btn-primary btn-floating rounded-circle mb-3 mx-3 p-3"><i class="fa-solid fa-plus"></i></a>
            {% endif %}
            </div>
            <div class="mx-auto pb-2 gx-5 border-scandary  border rounded">
                <h4 class="ms-2 py-3" style="color: #0053cb;">Unit name   </h4>
                <button type="button" class="btn btn-primary ms-2 btn-sm"onclick="AddTopic()">Add new Topic</button>
                <button type="button" class="btn btn-secondary ms-2 btn-sm"onclick="window.location.href='CreateQuiz.html'">Add new Quiz</button>
                <button type="button" class="btn btn-secondary ms-2 btn-sm"onclick="AddAss()">Add new Assignment</button>
            </div>
         </div>

        </section>
      </div>
    </div>
  </section>
</div>
<!-- hhh -->
<div class="section">
	<h4>{{ course.title }}</h4>
	<div class="divider"></div>
</div>

<div class="row">

<div class="col s3">
      <ul class="collection with-header">
        <li class="collection-header"><h4>Classroom</h4></li>
        <a href="{% url 'course' course.id %}" class="collection-item">Home</a>
        <a href="{% url 'modules' course.id %}" class="collection-item active">Module</a>
        <a href="{% url 'submissions' course.id %}" class="collection-item">Submissions</a>
      </ul>
</div>

<div class="col s9">

  {% if profile.user_type == 'teacher'%}
    <a href="{% url 'new-module' course.id %}" class="btn-floating btn-large waves-effect waves-light teal right"><i class="material-icons">add</i></a>
  {% endif %}

  <div class="section">
    <h4>Modules</h4>
    <div class="divider"></div> 

    <ul class="collapsible">
      {% for module in course.modules.all %}
      <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i><b>{{ module.title }}</b></div>
        <div class="collapsible-body">
          {% if teacher_mode == True %}
            <a href="{% url 'new-page' course.id module.id %}" class="btn-small"><i class="material-icons">add</i>Add new page</a>
            <a href="{% url 'new-quiz' course.id module.id %}" class="btn-small"><i class="material-icons">add</i>Add new quiz</a>
            <a href="{% url 'new-assignment' course.id module.id %}" class="btn-small"><i class="material-icons">add</i>add new assignment</a>
          {% endif %}
            <div class="collection">
              <br>
              {% for page in module.pages.all %}
                <a href="{% url 'page-detail' course.id module.id page.id %}" class="collection-item"><i class="material-icons">segment</i> {{ page.title }}
                 <div class="secondary-content">
                  Completed: 
                  <i class="material-icons secondary-content">{% if page.id in page_completions %}check_circle{% else %}panorama_fish_eye{% endif %}</i>                   
                 </div>
                </a>
              {% endfor %}
              {% for quiz in module.quizzes.all %}
                <a href="{% url 'quiz-detail' course.id module.id quiz.id %}" class="collection-item"><i class="material-icons">fact_check</i> {{ quiz.title }}
                 <div class="secondary-content">
                  Completed: 
                  <i class="material-icons secondary-content">{% if quiz.id in quiz_completions %}check_circle{% else %}panorama_fish_eye{% endif %}</i>                   
                 </div>
                </a>
              {% endfor %}
              {% for assignment in module.assignments.all %}
                <a href="{% url 'assignment-detail' course.id module.id assignment.id %}" class="collection-item"><i class="material-icons">fact_check</i> {{ assignment.title }}
                 <div class="secondary-content">
                  Completed: 
                  <i class="material-icons secondary-content">{% if assignment.id in assignment_completions %}check_circle{% else %}panorama_fish_eye{% endif %}</i>                   
                 </div>
                </a>
              {% endfor %}
            </div>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>
  
</div>


</div>

{% endblock %}