{% extends 'base.html' %}
{% load static %}
{% block title %} {{ course.title }}/Grade {% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container mt-5 pt-3">
  <h1 class="py-3 mx-auto ms-3" style="color: #0053cb;" >{{ course.title }}</h1>
  <section>
    <div class="row">
      <div class="col-md-3 gx-5 mb-4">
        <div class="bg-light gy-5 text-center hover-overlay ripple shadow-2-strong rounded-5 ">
          
          {% if user.profile.user_type == 'teacher' %}
          <h4 class="border-scandary border-bottom py-4"><a href="{% url 'edit-course' course.id %}" class="text-decoration-none">Edit course</a></h4>
          {% endif %}            

          <h4 class="border-scandary border-bottom py-4"><a href="{% url 'modules' course.id %}"class="text-decoration-none">units</a></h4>
          <h4 class="border-scandary border-bottom py-4"><a href="{% url 'submissions' course.id %}"class="text-decoration-none">Submissions</a></h4>
          
          <h4 class="border-scandary border-bottom py-4"><a href="{% url 'questions' course.id %}" class="text-decoration-none">Questions</a></h4>
          {% if profile.user_type == 'teacher' %}
          <h4 class="border-scandary border-bottom py-4"><a href="{% url 'student-submissions' course.id %}"class="text-decoration-none">Student Submissions</a></h4>
          {% endif %}            
        </div>
      </div>
      <div class="col-md-8 gx-5 mb-4">
        <section class="container ">
          
          <table class="table">
            <tr class="table-dark">
              <th>Student Name</th>
              <td>{{ grade.submission.user.get_full_name }}</td>
            </tr>
            <tr class="table-dark">
              <th>Student Username</th>
              <td>@{{ grade.submission.user.username }}</td>
            </tr>
            <tr class="table-dark">
              <th>Student College_ID</th>
              <td>{{ grade.submission.user.profile.college_id }}</td>
            </tr>
            <tr class="table-dark">
              <th>Student E_mail</th>
              <td>{{ grade.submission.user.email }}</td>
            </tr>
            <tr class="table-dark">
              <th>Student Phone</th>
              <td>{{ grade.submission.user.profile.phone }}</td>
            </tr>
            <tr class="table-dark">
              <th>Student Univeristy</th>
              <td>{{ grade.submission.user.profile.univeristy_name }}</td>
            </tr>
            <tr class="table-dark">
              <th>Student Major</th>
              <td>{{ grade.submission.user.profile.major_types }}</td>
            </tr>
            <tr class="table-active">
              <th>Student Assignment_File</th>
              <td>
                {{ grade.submission.get_file_name }}
                <a href="{{ grade.submission.file.url }}"download><i class="fa-solid fa-cloud-arrow-down"></i>Download</a>
              </td>
            </tr>
            <tr class="table-active">
              <th>Student comment on assignment</th>
              <td>{{ grade.submission.comment }}</td>
            </tr>
          </table>
      <!--  -->
        <div class="">
        <form method="post" action="{% url 'grade-submission' course.id grade.id %}" role="form" class="col s12">
          {% csrf_token %}
          <h4>Assignment maximum points: <b>{{ grade.submission.assignment.points }}</b></h4>
      
          <div class="input-field">
            <i class="fa-solid fa-circle-plus"></i>
            <i class="fa-solid fa-pen"></i>
            <input id="icon_prefix" type="text" name="points" class="validate">
            <label for="icon_prefix">Points</label>
          </div>
      
          <div class="">
            <button class="btn btn-primary" type="submit">Grade</button>
          </div>
        </form>
        
      </div>
      
        </section>
      </div>
    </div>
  </section>
</div>
{% endblock %}