{% extends 'base.html'  %}
{% load static %}
{%block title %}leaderboard{% endblock%}

{% block content %}
  
<section class="container position-relative my-5 pt-5 pb-5 ">
   
    <div aria-label="breadcrumb mb-5">
        <ol class="breadcrumb pt-5 mt-5">
            <li class="breadcrumb-item "><a href="{% url 'index' %}"class=" text-decoration-none text-dark">Home</a></li>
            <li class="breadcrumb-item active text-decoration-none"><a style=" color: #0053cb;" >Leaderboard</a></li>
        </ol>
      <h1 class="mb-5 pt-2">Leaderboard</h1>

      <div class="btn-group me-2 border-bottom border-bottom-1 border-bottom-secondary" role="group" aria-label="Second group">
        <button type="button" class="btn text-primary border-bottom border-bottom-light">All</button>
        <button type="button" class="btn ">Artificial Intelligence</button>
        <button type="button" class="btn ">Digital Communication</button>
      </div>
    </div>

     <div class="my-5 pt-5">
    <div class=" d-flex row "  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Devon Lane</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">2</p>
        
    </div>
    <hr style="width: 80%;" class="my-3">
</div>
    <div class=" d-flex row "  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Cody Fisher</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">4</p>
        
    </div>
    <hr style="width: 80%;" class="my-3">
</div>
    <div class=" d-flex row "  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Devon Lane</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">2</p>
        
    </div>
    <hr style="width: 80%;" class="my-3">
</div>
    <div class=" d-flex row "  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Cody Fisher</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">4</p>
        
    </div>
    <hr style="width: 80%;" class="my-3">
</div>
    <div class=" d-flex row "  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Devon Lane</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">2</p>
        
    </div>
    <hr style="width: 80%;" class="my-3">
</div>
    <div class=" d-flex row "  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Cody Fisher</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">4</p>
        
    </div>
    <hr style="width: 80%;" class="my-3 ">
</div>
    <div class=" d-flex row "  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Devon Lane</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">2</p>
        
    </div>
    <hr style="width: 80%;" class="my-3">
</div>
    <div class=" d-flex row mb-5"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="col-1 my-2 mx-2 me-4  rounded-circle  bg-secondary  "></div>
        
        
        <div class="col-6 "> <h5 style="display: inline-block; font-weight: bold;" > Cody Fisher</h5></p>
    
        <p class="fst-italic fw-light text-muted" >12,454</p>
    </div>
    <div class="col-3 d-flex align-items-center text-muted">
        
            <p class="mx-auto my-auto py-1">4</p>
        
    </div>
    
</div>
</div>

    </section>
    {% endblock %}
    {% block javascript %}
    <script type="text/javascript" src="Bootstrap/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
    {% endblock %}
