{% extends 'base.html' %}
{% load static %}
{% block title %}{{ course.title }}/Grade{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container mt-5 pt-3">
  <h1 class="py-3 mx-auto ms-3" style="color: #0053cb;" >{{ course.title }}</h1>
  <section>
<div class="table-responsive">
      <table class="table table-hover table-bordered">
  <thead class="">
    <tr class="table-dark">
      <th scope="col">Student</th>
      <th scope="col">Username</th>
      <th scope="col">Assignment</th>
      <th scope="col">Due</th>
      <th scope="col">Submited</th>
      <th scope="col">Status</th>
      <th scope="col">Score</th>
      <th scope="col">Out of</th>
      <th scope="col">Graded by</th>
      <th scope="col">Grade</th>
</tr>
  </thead>
  <tbody>
    {% for grade in grades %}
    <tr class="table-info">
      <td>{{ grade.submission.user.get_full_name }}</td>
      <td>{{ grade.submission.user.username }}</td>
      <td>{{ grade.submission.assignment.title }}</td>
      <td>{{ grade.submission.assignment.due }}</td>
      <td>{{ grade.submission.date }}</td>
      <td><b>{{ grade.status }}</b></td>
      <td>{{ grade.points }}</td>
      <td>{{ grade.submission.assignment.points }}</td>
      <td>Dr/ {{ grade.graded_by.get_full_name }}</td>
      <td><a href="{% url 'grade-submission' course.id grade.id %}"><i class="fa-solid fa-pen"></i>Grade</a></td>
    </tr>
  {% endfor %}
</tbody>
      </table>
<!-- eman end -->
        
      </div>
  </section>
</div>
{% endblock %}